<div id="home-page">
  <div id="welcome-section">
    <h1>tkutcher.com</h1>
    <img class="home-image" src="/assets/bitmoji.png" alt="bitmoji"/>
  </div>
  <div class="tk-icons">
    <ul>
      <li *ngFor="let profile of profiles" [class]="profile.listItemClass">
        <a [href]=profile.link>
          <div style="height: 100%">
            <i [class]="profile.iconClass"></i>
            <div class="tk-icon-handle">
              {{ profile.handle }}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>