* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Avenir, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0b0b0b;
  text-align: left;
  background-color: #fefefe;
}

#welcome-section {
    text-align: center;
    padding-top: 15px;
}

.home-image {
    width: 130px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

#home-page {
    height: 100%;
    width: 100%;
}

.tk-icons {
    text-align: center;
}

.tk-icons a {
    text-decoration: none;
    color: #6c757d;
    font-size: 55px;
}

.tk-icons ul {
    list-style-type: none;
}

.tk-icons li {
    padding: 10px;
    margin: 0;
    display: inline-block;
    list-style: none;
}

.tk-facebook i:hover {
    color: #3b5998;
}

.tk-twitter i:hover {
    color: #00acee;
}

.tk-youtube i:hover {
    color: #c4302b;
}

.tk-instagram i:hover {
    color: #e4405f;
}

.tk-linkedin i:hover {
    color: #0e76a8;
}

.tk-github i:hover {
    color: #6cc644;
}

.tk-gitlab i:hover {
    color: #fc6d27;
}

.tk-stack-overflow i:hover {
    color: #ef8236;
}
